/* Personal CSS is the top part of this page */


/* z-index reference:
	1: Height of the World1
	1.5: Height of the sea
	2: Height of the boat and things on top of the world
	3: Height of the HUD
	
	Remember: if position is absolute, z-index is relative to z-index of parent element
*/
:root {
	--main-bg-color: #EBE3DA;
	--hud-bg-color: rgba(157, 112, 61,0.5);
}

body {
	background-color: var(--main-bg-color);
	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 120%;
}

img {
	image-rendering: pixelated;
}

/* Things within the world */
.HUD {
	color: var(--main-bg-color);
	float: right;
	display: inline;
	
	height: 50px;
}
.HUDHeading {
	position: absolute;
	top: -20px;
	left: 0px;
	
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 80%;
	color: var(--hud-bg-color);
}
.HUDImage {
	display: inline;
}

.HUDWrapper {
	padding: 0px 20px 0px 20px;
	
	z-index: 3;
	background-color: var(--hud-bg-color);
}
#EnviWrapper {
	top: 50px;
	right: 10px;
	position: absolute;
	width: 160px;
}
#BaitWrapper {
	bottom: 30px;
	right: 10px;
	position: absolute;
	width: 250px;
}
#StatisticsWrapper {
	top: 50px;
	left: 10px;
	position: absolute;
	width: 250px;
	
	text-align: left;
}

.blip {
	height: 5px;
	width: 5px;
	
	position: absolute;
	z-index: 1;
	
	top: 300px;
	left: 300px;
}
#boat {
	position: absolute;
	
	left: -3px;
	bottom: 4px;
}
#pointerpixel {
	position: absolute;
	top: 300px;
	left: 300px;
	background-color: #000000;
	
	height: 1px;
	width: 1px;
	
	z-index: 2;
}

.seaGridTile {
	background-color: #FFFFFF;
	height: 4px;
	width: 4px;
	
	position: absolute;
	z-index: 0.5;
}

.world {
	background-color: #a3ebff;
	height: 600px;
	width: 600px;
	
	top: 25px;
	left: 25px;
	
	position: absolute;
	z-index: 1;
}

.worldstage {
	background-color: #FFFFFF;
	height: 650px;
	width: 650px;
	
	/* Vertically center within world stage wrapper*/
	top: 0;
	bottom: 0;
	margin: auto;

	position: absolute;
	box-shadow: 20px 20px 10px rgba(50,50,50,0.75);
}

#worldstagewrapper {
	width: 650px;
	height: 100vh;
	
	margin: 0 auto;
	position: relative;
}

#debug {
	position: absolute;
	z-index: 2;
	bottom: 2px;
}


#inWrapper {
	width: 820px;
	margin: 0px;
	padding-right: 0px;
}


/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* See above */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
